@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Big+Shoulders+Stencil+Display:wght@100&family=Concert+One&family=Noto+Sans+JP&display=swap');

body{
    font-family: 'Balsamiq Sans', cursive;


}

.carousel-control-prev, .carousel-control-next{

}

.carousel-caption {

    right: 0;
    bottom: 0;
    /*left: 15%;*/
    /*z-index: 10;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    /*color: #fff;*/
    /*text-align: center;*/
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

 .card-img-top {
    height: 200px;
}

 /*.fon {*/
 /*    background-image: url('udachi/static/baner.jpg');*/
 /*}*/