{% extends "udachi/base.html" %}

{% block title %}Заказ{% endblock %}

{% block Content %}
    <br><br><br>
    <div class="container py-5">
        <div class="row justify-content-center">

            <div class="card border-warning mb-3" style="width: 23rem;">
                <div class="card-body">
                    <div class="card-header">
                        <h5 class="card-title">Заказ</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Ваш заказ в кафе</h6>
                    </div>
                    <p class="card-text">
                        {% for item in cart %}
                            <li>
                                {{ item.quantity }}x {{ item.bluda.nazvanie }}
                                <span>{{ item.total_price }} <em>руб</em></span>
                            </li>
                        {% endfor %}
                    </ul>

                    </p>
                    <p class="card-text"><em>Сумма заказа: {{ cart.get_total_price }} руб </em></p>
                    <a href="{% url "cart_detail" %}" class="btn btn-warning">Вернуться в корзину</a>

                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <form action="{% url 'zakaz_create' %}" method="post" class="card border-warning mb-3">
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.sposob_otdachi }} <br>
                    {{ form.fio }} <br>
                    {{ form.telephone }} <br>
                    {{ form.email }} <br>
                    {{ form.adres }} <br>
                    {{ form.bronirovanie }} <br>
                    <p><input type="submit" class="btn btn-success" value="Заказать"></p>

                </div>
            </form>
        </div>
    </div>
    </div>
    <br><br><br>

{% endblock %}