{% load static %}

<div class="col-12" ><h2 class="text-center mb-5" id="part2" style="margin-top: 15px">О нас</h2></div>
    <h3> Кафе "У Дачи" находится по адресу ул.Ручейная, 7. </h3> <br>
    <h3> Мы предлагаем своим гостям европейскую, русскую и японскую кухню.  </h3> <br>
    <h3> Ниже вы можете увидеть интерьер нашего кафе.  </h3> <br>
    <h3> Мы ждем вас! </h3> <br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'udachi/зал1.jpg' %}" class="d-block w-100" alt="красивая пикча"
                 style="height: 550px; width: auto">
        </div>
        <div class="carousel-item">
            <img src="{% static 'udachi/зал2.jpg' %}" class="d-block w-100" alt="бесплатная доставка"
                 style="height: 550px; width: auto">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
    </button>

</div>
