<br>
<h2>Сайт кафе европейской кухни "У Дачи"</h2>
<h2>Что вы можете сделать на этом сайте?</h2>

<ul style="list-style: none; font-size: 20px; color: black;" class=" link-dark">
    <li><a href="#part1" style=" color: black;">Просмотреть меню кафе</a></li>
    <li><a href="#part2" style=" color: black;">Просмотреть интерьер кафе</a></li>
    <li><a>Сделать предзаказ, а затем забрать его из кафе</a></li>
    <li><a>Оформить доставку заказа</a></li>
    <li><a style=" color: black;" href="{% url 'bronirovanie' %}">Забронировать столик заранее</a></li>
    <li><a style=" color: black;" href="{% url 'contacts' %}">Сделать заказ по телефону</a></li>
    <li><a href="{% url 'otziv' %}" style=" color: black;">Оставить свой отзыв</a></li>
</ul>